{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block scripts %}
{{ super() }}
{{ pagedown.include_pagedown() }}

    <link rel="stylesheet" type="text/css" href="https://cdn.bootcss.com/bootstrap-fileinput/4.4.0/css/fileinput.min.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.0/js/fileinput.min.js"></script>
    <script type="text/javascript" src="https://cdn.bootcss.com/bootstrap-fileinput/4.4.0/js/locales/zh.min.js"></script>


    <script type="text/javascript">

    var List = new Array()

    $("#uploadfile").fileinput({
                    language: 'zh', //设置语言
                    uploadUrl: '{{ url_for('auth.uploadfile', _external=True) }}', //上传的地址
                    allowedFileExtensions: ['jpg', 'gif', 'png'],//接收的文件后缀
                    //uploadExtraData:{"id": 1, "fileName":'123.mp3'},
                    uploadAsync: false, //默认异步上传
                    showUpload: false, //是否显示上传按钮
                    showRemove : false, //显示移除按钮
                    showPreview : true, //是否显示预览
                    showCaption: false,//是否显示标题
                    browseClass: "btn btn-primary", //按钮样式
                    dropZoneEnabled: true,//是否显示拖拽区域
                    //minImageWidth: 50, //图片的最小宽度
                    //minImageHeight: 50,//图片的最小高度
                    //maxImageWidth: 50,//图片的最大宽度
                    //maxImageHeight: 50,//图片的最大高度
                    autoOrientImage:true,
                    showBrowse:true,//显示选择文件按钮
                    //browseOnZoneClick:true,//点击拖拽区域选择文件
                    showUploadedThumbs:false,
                    maxFileSize: 6 * 1024,//单位为kb，如果为0表示不限制文件大小
                    //minFileCount: 0,
                    maxFileCount: 9, //表示允许同时上传的最大文件个数
                    enctype: 'multipart/form-data',
                    validateInitialCount:true,
                    resizePreference: 'height',
                    //previewTemplates:{width:"10px",height:"150px"},
                    //zoomModalHeight:"80px",//默认480px
                    previewZoomSettings:{image: {width: "auto", height: "auto", 'max-width': "50%",'max-height': "50%"}},//设置预览图片大小
                    previewSettings:{image: {width: "200px", height: "200px"}},
                    previewFileIcon: "<i class='glyphicon glyphicon-king'></i>",
                    msgFilesTooMany: "选择上传的文件数量({n}) 超过允许的最大数值{m}！",
                });

    //异步上传错误返回结果处理
    $('#uploadfile').on('fileerror', function(event, data, msg) {
                console.log(data.id);
                console.log(data.index);
                console.log(data.file);
                console.log(data.reader);
                console.log(data.files);
                // get message
                alert(msg);
    });
    //异步上传成功返回结果处理
    $("#uploadfile").on("fileuploaded", function (event, data, previewId, index) {
                   console.log(previewId);
                   console.log(index);
                    console.log(index);
                    console.log(data.id);
                    var obj = data.response;
                    List.push({ FileName: data.response.path, KeyID: previewId })
                    //alert(JSON.stringify(List));
                });

    //同步上传错误处理
           $('#uploadfile').on('filebatchuploaderror', function(event, data, msg) {
                console.log(data.id);
                console.log(data.index);
                console.log(data.file);
                console.log(data.reader);
                console.log(data.files);
                // get message
                alert(msg);
             });
       //同步上传返回结果处理
       $("#uploadfile").on("filebatchuploadsuccess", function (event, data, previewId, index) {
               console.log(data.id);
                   console.log(data.index);
                   console.log(data.file);
                   console.log(data.reader);
                   console.log(data.files);
                    var obj = data.response;
                    alert(JSON.stringify(data.success));
          });

    //上传前
    $('#uploadfile').on('filepreupload', function(event, data, previewId, index) {
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
            console.log('File pre upload triggered');
        });

    //点击浏览框右上角X 清空文件前响应事件

    $("#uploadfile").on("fileclear",function(event, data, msg){
            alert("fileclear");
        });
    //图片上传成功后，点击删除按钮的回调函数
    $("#uploadfile").on("fileremoved", function (event, data, previewId, index) {
        for (var i = 0; i < List.length; i++) {
            if (List[i].KeyID== data) {
            delete List[i];
            alert(JSON.stringify(List));
            }
        }
    });

    //$('.file-preview-thumbnails').parent().css('width','100%');
    //$('.krajee-default.file-preview-frame .file-thumbnail-footer').hide();
    </script>
{% endblock %}
{% block title %}Flasky - Page Not Found{% endblock %}

{% block page_content %}
    <div class="page-header">
        <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
        {% if not known %}
        <p>Pleased to meet you!</p>
        {% else %}
        <p>Happy to see you again!</p>
        {% endif %}
    </div>
    <div>
        {% if current_user.can(Permission.WRITE_ARTICLES) %}
        {{ wtf.quick_form(form) }}
        {% endif %}
    </div>
    <div>
<label class="control-label">Select File</label>
<input type="file" name="uploadfile" id="uploadfile" multiple class="file-loading" />
</div>
  <div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_all') }}">All</a></li>
        {% if current_user.is_authenticated %}
        <li{% if show_followed %} class="active"{% endif %}><a href="{{ url_for('.show_followed') }}">Followers</a></li>
        {% endif %}
    </ul>
    {% include '_posts.html' %}
    </div>
    <div class="pagination ">
        {{ macros.pagination_widget(pagination, '.index') }}
    </div>
{% endblock %}




